name: Build and deploy Next.js app to Azure Web App - imagetagger

on:
  push:
    branches:
      - main
      - master
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: "20.x"

      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_106169AC1CE34C389EE262A480AB1EBA }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_D91301E970004F0FBB12307C7806C0B3 }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_8E16B0DDC90C46ABA4433C6552715EF9 }}

      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v3
        with:
          app-name: "imagetagger"
          slot-name: "Production"
          package: .
